#link-regra-1{
	text-decoration: none;
}
#link-regra-2{
	text-decoration: overline;
}
#link-regra-2:hover{
	text-decoration: line-through;
}
#link-regra-2:visited{
	text-decoration: underline;
}
#link-regra-3{
	text-decoration: none;
	color: orange;
}
#link-regra-3:hover{
	text-decoration: underline;
	color: green;
}
#link-regra-4{
	text-decoration: none;
	border: 1px solid blue;
	background-color: black;
	color: white;
}
#link-regra-4:hover{
	text-decoration: none;
	border: 1px dotted black;
	background-color: white;
	color: black;
}
#link-regra-5{
	text-decoration: none;
	color: red;
}
#link-regra-5:visited{
    font-style: italic;
    font-weight: bold;
    color: orange;
}
#link-regra-5:hover{
	text-decoration: underline;
}
#link-regra-5:active {
    color: yellow;
}