p{
	border-left: 20em solid green;
	border-right: 20em solid red;
	width: 60%;
	height: 400px;
	font-size: 12px;
	letter-spacing: 3em;
    word-spacing: 4ex;
    text-align: justify;
    font-family: Verdana;
    text-indent: 25px;
}
p:first-letter{
	font-size: 36px;
	color: blue;
	text-decoration: overline;
}
p:first-line{
	text-decoration: underline;
	text-transform: uppercase;
}